@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* For the toggle switch animation */
.toggle-checkbox:checked {
	transform: translateX(100%);
	background-color: #34d399; /* Green color for the checked state */
}

.toggle-checkbox {
	transition: 0.3s ease-in-out;
}

.toggle-label {
	transition: 0.3s ease-in-out;
}

/* Optional: Adjust colors */
.toggle-checkbox:checked + .toggle-label {
	background-color: #34d399; /* Green color when active */
}
